if CUST_PANTECH_H

###################################################
#           PANTECH LGU part Feature              #
###################################################

config LGU_DS_K_CONFIG
	bool "LGU+ DATA"
	default y
	help
	  Select if you want to select config for LGU+ DATA
	  by Alice(P15279)

config LGU_DS_TCP_SYN_RETRANSMIT
	bool "TCP SYN RETRANSMIT"
	depends on LGU_DS_K_CONFIG
	default y
	help
	  Select if you want to change RTO and TCP_SYN_RETRIES when TCP syn transfer
	  tcp resync nymber is 5.(first transfer, 1s, 2s, 4s, 8s)

config LGU_DS_TETHER_MSS
	bool "enable CONFIG_NETFILTER about TCP MSS"
	depends on LGU_DS_K_CONFIG
	default y	
	select NETFILTER_XT_TARGET_TCPMSS
	#select NETFILTER_XT_MATCH_TCPMSS	
	help

config LGU_DS_VPN
	bool "VPN"
	depends on LGU_DS_K_CONFIG
	default y
	select NET_KEY
	select INET_ESP
	select INET_IPCOMP
	#select XFRM
	select XFRM_USER
	select INET_XFRM_MODE_TRANSPORT
	select INET_XFRM_MODE_TUNNEL
	#select CRYPTO
	#select CRYPTO_HMAC
	select CRYPTO_XCBC
	select CRYPTO_NULL
	#select CRYPTO_MD5
	#select CRYPTO_SHA1
	#select CRYPTO_DES
	#select CRYPTO_AES
	#select CRYPTO_DEFLATE
	select IP_ADVANCED_ROUTER
	#select IP_MULTIPLE_TABLES
	select PPP
	select PPP_ASYNC
	select PPP_SYNC_TTY
	select PPP_DEFLATE
	select PPP_BSDCOMP
	select PPP_MPPE
	select PPPOE
	select PPPOL2TP
	select L2TP
	select L2TP_V3
	select L2TP_IP
	select L2TP_ETH
	select PPPOLAC
	select PPPOPNS
	help
	
config LGU_DS_IPSEC
	bool "enable INET CONFIG for IP SEC"
	depends on LGU_DS_K_CONFIG
	default y
#select INET_AH	
	select INET_XFRM_TUNNEL
	help
	
config LGU_DS_OPTIMIZE_IPV6_ASSIGNMENT
	bool "IPv6 Address Asignment"
	depends on LGU_DS_K_CONFIG
	default y
	help
	
config LGU_DS_OPTIMIZE_IPV6_ASSIGNMENT_CRASH_FIX
	bool "Prevent device from crashing"
	depends on LGU_DS_K_CONFIG && LGU_DS_OPTIMIZE_IPV6_ASSIGNMENT
	default y
	help
	  Device crashed when optimizing IPv6 address assignment which means reducing assignment duration.
	  It's crashed because 'ifa->idev' is null at 'if6_get_first' function.

config LGU_DS_BAM_ADAPTIVE_TIMER_OFF
	bool "BAN ADAPTIVE TIMER DISABLE"	
	depends on LGU_DS_K_CONFIG
	default y
	help
	  DL Throughput
	
config LGU_DS_TCP_DROP_OVER_MTU_PORT_5060
	bool "SIP packet with over MTU using TCP dropped"
	depends on LGU_DS_K_CONFIG
	default y
	help
	
config LGU_DS_TCP_INIFINITE_LOOP_BUG_FIX
	bool "avoid infinite loop on recvmsg by tcp"
	depends on LGU_DS_K_CONFIG
	default y
	help

config LGU_DS_CTS_IPV6_PING_TEST_FAIL_FIX
	bool "enable IPv6 Ping"
	depends on LGU_DS_K_CONFIG
	default y
	help		

config LGU_DS_IP6_FLOWINFO
	bool "ipv6: Introduce ip6_flowinfo() to extract flowinfo (tclass + flowlabel)"
	depends on LGU_DS_K_CONFIG
	default y
	help
	  https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/include?id=6502ca527f8ed2c3bb327d9db8e7e6e7dcbef511

config LGU_DS_PREVENT_NULL_MSG_NAME
	bool "ping: prevent NULL pointer dereference on write to msg_name"
	depends on LGU_DS_K_CONFIG && LGU_DS_IP6_FLOWINFO
	default y
	help
	  A plain read() on a socket does set msg->msg_name to NULL. So check for
	  NULL pointer first.
	  https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/net/ipv4/ping.c?id=cf970c002d270c36202bd5b9c2804d3097a52da0

endif
